<html>

  <body>
    <h1> New Blog Post</h1>

    <form action ='/posts' method="post">
      <label for="post_name"> Testing </label><input id="post_name" type="text" name="name"><br>
      <label for="post_content"> Testing </label><input id="post_content" type="text" name="content"><br>

       <button type="submit">submit</button>
     </form>
   </body>

   </html>
