<html>

  <body>
    <h1> New Blog Post</h1>

    <form action ='/posts' method="post">
      <label for="name"> Testing </label><input id="name" type="text" name="name"><br>
      <label for="content"> Testing </label><input id="content" type="text" name="content"><br>

       <button type="submit">submit</button>
     </form>
   </body>

   </html>
