<html>

  <body>
    <h1> New Blog Post</h1>

    <form action ='/posts' method="post">
      <label for="xx"> Testing </label><input id="test" type="text" name="test"><br>
       <button type="submit">submit</button>
     </form>
   </body>

   </html>
